[Unit]
Description=Jean Le Baptiste - Display Bible Verse on Startup
After=getty@tty1.service

[Service]
ExecStart=/usr/local/bin/jean-le-baptiste.sh
StandardOutput=tty
TTYPath=/dev/tty1
Restart=always
User=root

[Install]
WantedBy=multi-user.target
